@page

@{
    ViewData["Title"] = "Bookay platform";
}


<div class="container-fluid w-75">
    <h2>
        Our site was designered by Anatoli Hancharou to help others <br/>
        get the best experience in planning vacations and unexpected adventures!
    </h2>
</div>